@{
    ViewData["Title"] = "Contato";
}

<div class="text-center">
    <h1 class="display-4">Contato</h1>
    <p class="lead">Entre em contato com a nossa loja:</p>
</div>

<div class="row justify-content-center">
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item"><strong>E-mail:</strong> contato@lojaexemplo.com</li>
            <li class="list-group-item"><strong>Telefone:</strong> (61) 99999-9999</li>
            <li class="list-group-item"><strong>Endereço:</strong> Av. Exemplo, 123 - Luziânia, GO</li>
        </ul>
    </div>
</div>