@{
    ViewData["Title"] = "Sobre";
}

<div class="text-center">
    <h1 class="display-4">Sobre a Loja</h1>
    <p class="lead">
        A Loja Exemplo nasceu com o objetivo de oferecer produtos de qualidade
        com praticidade e bom atendimento. Trabalhamos com uma seleção variada
        de itens pensados para atender às necessidades do nosso cliente.
    </p>
    <p>
        Este projeto foi desenvolvido como trabalho acadêmico, aplicando o
        padrão MVC com ASP.NET Core.
    </p>
</div>